@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}
html {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
    padding: 0 2em;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	width: 100%;
}

header h1 {
	display: flex;
	justify-content: center;
	padding: 0.5em;
	border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	padding-bottom: 1em;
	width: 100%;
}
header nav ul {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 1em;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section,
.main-image,
.main-image img,
.main-title,
.section-one,
.section-two,
.section-three,
.section-one h4,
.section-two h4,
.section-three h4,
.menu li,
.reviews,
.address {
	display: flex;
	justify-content: center;
	align-content: center;
}

.top-section,
.bottom-section {
	flex-flow: column wrap;
	width: 100%;
}

.main-image {
	height: auto;
	width: 100%;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	flex-flow: column wrap;
	padding: 0 1em;
}
.main-title h3 {
	text-align: left;
	padding: 0.25em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.75em;
}

.section-one,
.section-two,
.section-three {
	flex-flow: column wrap;
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 0.6em 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 1em 0 0 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 0 1.75em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	text-align: center;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	height: 4em;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
